services:
  database:
    image: postgres:17.4-alpine
    container_name: coin-control-database
    restart: always
    environment:
      PGUSER: postgres
      PGDATABASE: coin_control
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: coin_control
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 20
    networks:
      - app-network
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - test-database:/var/lib/postgresql/data

  cache:
    image: redis:8.0-alpine
    container_name: coin-control-cache
    healthcheck:
      test:
        [
          "CMD",
          "redis-cli",
          "-a",
          "eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81",
          "--raw",
          "incr",
          "ping",
        ]
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 3s
    restart: always
    networks:
      - app-network
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes:
      - cache-test:/data

  api-test:
    container_name: coin-control-api-test
    tty: true
    profiles:
      - once
    depends_on:
      cache:
        condition: service_started
      database:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      - avatar-upload-test:/app/api/avatar-upload
      - ./api/src:/app/api/src
    build:
      target: test
      dockerfile: ./api/api.Dockerfile
      args:
        - DATABASE_URL=postgresql://postgres:postgres@database/coin_control?schema=public
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PORT=3001
      - APP_ORIGIN=http://localhost:3000
      - API_URL=http://localhost:3001
      - HOST=0.0.0.0
      - DATABASE_URL=postgresql://postgres:postgres@database/coin_control?schema=public
      - API_SECRET=randomsecretfortestingpurposes
      - REDIS_HOST=cache
      - REDIS_PORT=6379
      - REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
      - ENCRYPTION_SECRET=iTSFakeEnCryPTiONKeyC2Kc0x81Juq+FJ2MoKnYBiBxnvECJKFDBbbEhLGNYByY
      - GOOGLE_CLIENT_ID=fortesting
      - GOOGLE_CLIENT_SECRET=fortesting
      - GOOGLE_OAUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
      - GOOGLE_ACCESS_TOKEN_URL=fortesting
      - GOOGLE_CALLBACK_URL=fortesting

    command: pnpm --filter api test

  api-test-coverage:
    container_name: coin-control-api-test-coverage
    tty: true
    profiles:
      - coverage
    depends_on:
      cache:
        condition: service_started
      database:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      - avatar-upload-test:/app/api/avatar-upload
      - ./api/src:/app/api/src
    build:
      target: test
      dockerfile: ./api/api.Dockerfile
      args:
        - DATABASE_URL=postgresql://postgres:postgres@database/coin_control?schema=public
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PORT=3001
      - APP_ORIGIN=http://localhost:3000
      - API_URL=http://localhost:3001
      - HOST=0.0.0.0
      - DATABASE_URL=postgresql://postgres:postgres@database/coin_control?schema=public
      - API_SECRET=randomsecretfortestingpurposes
      - REDIS_HOST=cache
      - REDIS_PORT=6379
      - REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
      - ENCRYPTION_SECRET=iTSFakeEnCryPTiONKeyC2Kc0x81Juq+FJ2MoKnYBiBxnvECJKFDBbbEhLGNYByY
      - GOOGLE_CLIENT_ID=fortesting
      - GOOGLE_CLIENT_SECRET=fortesting
      - GOOGLE_OAUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
      - GOOGLE_ACCESS_TOKEN_URL=fortesting
      - GOOGLE_CALLBACK_URL=fortesting

    command: pnpm --filter api test:coverage

  api-test-watch:
    container_name: coin-control-api-test-watch
    tty: true
    profiles:
      - watch
    depends_on:
      cache:
        condition: service_started
      database:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      - avatar-upload-test:/app/api/avatar-upload
      - ./api/src:/app/api/src
    build:
      target: test
      dockerfile: ./api/api.Dockerfile
      args:
        - DATABASE_URL=postgresql://postgres:postgres@database/coin_control?schema=public
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PORT=3001
      - APP_ORIGIN=http://localhost:3000
      - API_URL=http://localhost:3001
      - HOST=0.0.0.0
      - DATABASE_URL=postgresql://postgres:postgres@database/coin_control?schema=public
      - API_SECRET=randomsecretfortestingpurposes
      - REDIS_HOST=cache
      - REDIS_PORT=6379
      - REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
      - ENCRYPTION_SECRET=iTSFakeEnCryPTiONKeyC2Kc0x81Juq+FJ2MoKnYBiBxnvECJKFDBbbEhLGNYByY
      - GOOGLE_CLIENT_ID=fortesting
      - GOOGLE_CLIENT_SECRET=fortesting
      - GOOGLE_OAUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
      - GOOGLE_ACCESS_TOKEN_URL=fortesting
      - GOOGLE_CALLBACK_URL=fortesting

    command: pnpm --filter api test:watch

  api-test-watch-coverage:
    container_name: coin-control-api-test-watch-coverage
    tty: true
    profiles:
      - watch-coverage
    depends_on:
      cache:
        condition: service_started
      database:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      - avatar-upload-test:/app/api/avatar-upload
      - ./api/src:/app/api/src
    build:
      target: test
      dockerfile: ./api/api.Dockerfile
      args:
        - DATABASE_URL=postgresql://postgres:postgres@database/coin_control?schema=public
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PORT=3001
      - APP_ORIGIN=http://localhost:3000
      - API_URL=http://localhost:3001
      - HOST=0.0.0.0
      - DATABASE_URL=postgresql://postgres:postgres@database/coin_control?schema=public
      - API_SECRET=randomsecretfortestingpurposes
      - REDIS_HOST=cache
      - REDIS_PORT=6379
      - REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
      - ENCRYPTION_SECRET=iTSFakeEnCryPTiONKeyC2Kc0x81Juq+FJ2MoKnYBiBxnvECJKFDBbbEhLGNYByY
      - GOOGLE_CLIENT_ID=fortesting
      - GOOGLE_CLIENT_SECRET=fortesting
      - GOOGLE_OAUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
      - GOOGLE_ACCESS_TOKEN_URL=fortesting
      - GOOGLE_CALLBACK_URL=fortesting

    command: pnpm --filter api test:watch-coverage

networks:
  app-network:
    driver: bridge

volumes:
  cache-test:
    driver: local
  avatar-upload-test:
    driver: local
  test-database:
    driver: local
