services:
  db:
    image: postgres
    container_name: local_pgdb
    restart: always
    profiles: [dev, prod]
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
    volumes:
      - local_pgdata:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    profiles: [dev, prod]
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASS}
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  api-dev:
    build:
      target: dev
      dockerfile: ./docker/api.Dockerfile
    depends_on:
      - db
    volumes:
      - ./api/src:/app/api/src
      - ./shared:/app/shared
    profiles: [dev]
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      - PORT=${API_PORT}
      - APP_ORIGIN=${APP_URL}
      - HOST=${HOST}
  web-dev:
    build:
      target: dev
      dockerfile: ./docker/web.Dockerfile
    depends_on:
      - api-dev
    volumes:
      - ./web/src:/app/web/src
      - ./shared:/app/shared
    profiles: [dev]
    ports:
      - "${WEB_PORT}:${WEB_PORT}"
    environment:
      - VITE_PORT=${WEB_PORT}
      - VITE_API_URL=${API_URL}
      - VITE_APP_URL=${APP_URL}

  api:
    build:
      target: prod
      dockerfile: ./docker/api.Dockerfile
    depends_on:
      - db
    profiles: [prod]
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      - PORT=${API_PORT}
      - APP_ORIGIN=${APP_URL}
      - HOST=${HOST}

  web:
    build:
      target: prod
      dockerfile: ./docker/web.Dockerfile
    depends_on:
      - api
    profiles: [prod]
    ports:
      - "${WEB_PORT}:${WEB_PORT}"
    environment:
      - VITE_PORT=${WEB_PORT}
      - VITE_API_URL=${API_URL}
      - VITE_APP_URL=${APP_URL}

volumes:
  local_pgdata:
  pgadmin-data:
